@page "/workspace/{workpaceIdPage:int}"
@using Notes.Data
@using System.Linq
@inject NavigationManager NavigationManager
@inject HttpClient HttClient
@inject NoteService NoteService
@inject Pages.Services.AppData AppData

<PageTitle>Notes</PageTitle>

<section class="all-notes-section">
    <div class="all-notes-box">
        @if (tipoDeAgrupamento == "data")
        {
            @foreach (var grupo in notasAgrupadasData)
            {
                <h1 class="date-create">
                    <span>
                        @if (grupo.Key.Date == DateTime.Today)
                        {
                            @("Hoje")
                        }
                        else if (grupo.Key.Date == DateTime.Today.AddDays(-1))
                        {
                            @("Ontem")
                        }
                        else if (grupo.Key.Year != DateTime.Today.Year)
                        {
                            @grupo.Key.ToString("yyyy")
                        }
                        else
                        {
                            @($"{grupo.Key:dd} de {grupo.Key:MMMM}")
                        }
                    </span>
                </h1>

                <div class="all-notes">
                    @foreach (var note in grupo)
                    {
                        @if (mostrarEditInterface && note.Id == notaSelecionada.Id)
                        {
                            <div class="note-on-edit" @onclick="SalvarEdicao"></div>
                            <div class="note-card on-edit">
                                <h2 class="card-title on-edit" contenteditable="true" @onblur="() => AtualizarTitulo()">
                                    @notaSelecionada.Title
                                </h2>
                                <div class="card-content">
                                    <p class="on-edit" contenteditable="true" @onblur="() => AtualizarConteudo()">
                                        @notaSelecionada.Content
                                    </p>
                                </div>

                                <div class="text-edit-options">
                                    <button class="navbar-toggler" type="button">
                                        <span class="bi bi-type-bold icon-bootstrap small"></span>
                                    </button>
                                    <button class="navbar-toggler" type="button">
                                        <span class="bi bi-type-italic icon-bootstrap small"></span>
                                    </button>
                                    <button class="navbar-toggler" type="button">
                                        <span class="bi bi-type-strikethrough icon-bootstrap small"></span>
                                    </button>
                                    <button class="navbar-toggler" type="button">
                                        <span class="bi bi-list-ul icon-bootstrap small"></span>
                                    </button>
                                    <button class="navbar-toggler" type="button">
                                        <span class="bi bi-list-ol icon-bootstrap small"></span>
                                    </button>
                                    <button class="navbar-toggler" type="button">
                                        <span class="bi bi-check-square icon-bootstrap small"></span>
                                    </button>
                                </div>

                                <div class="edit-note-options">
                                    <div class="cancel-edit">
                                        <p @onclick="EsconderInterfaceDeEdicao">Cancelar</p>
                                    </div>

                                    <div class="confirm-edit">
                                        <button disabled="@(string.IsNullOrEmpty(notaSelecionada.Content))" @onclick="SalvarEdicao">OK</button>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="note-card">
                                <div class="note-tools-box">
                                    <div class="note-tools">
                                        <button @onclick="() => MostrarInterfaceDeEdicao(note)" class="navbar-toggler" type="button">
                                            <span class="bi bi-pencil icon-bootstrap small"></span>
                                        </button>

                                        <button @onclick="() => MostrarInterfaceTask(note)" class="navbar-toggler" type="button">
                                            <span class="bi bi-check2-circle icon-bootstrap small"></span>
                                        </button>

                                        <button @onclick="() => ExcluirNota(note.Id)" class="navbar-toggler" type="button">
                                            <span class="bi bi-trash3 icon-bootstrap small"></span>
                                        </button>
                                        <button class="navbar-toggler" type="button">
                                            <span class="bi bi-three-dots-vertical icon-bootstrap small"></span>
                                        </button>
                                    </div>
                                </div>

                                <div class="card-note-content" @onclick="() => MostrarInterfaceDeEdicao(note)">
                                    <h2 class="card-title">
                                        <span>@note.Title</span>
                                    </h2>
                                    <div class="card-content">
                                        <p>
                                            @note.Content
                                        </p>
                                    </div>
                                </div>
                            </div>

                            @if (mostrarTaskInterface && note.Id == notaSelecionada.Id)
                            {
                                <label for="dueDate">Due Date:</label>
                                <InputDate id="dueDate" @bind-Value="notaSelecionada.Task.DeadLine" class="form-control" />  @*Salvar o ultimo id das tasks no IndexedDB, formatar data e hora antes de salvar*@
                                <button @onclick="SalvarEdicao">OK</button>
                            }
                        }
                    }
                </div>
            }
        }
        else
        {
            <div class="all-notes">
                @foreach (var note in notasAgrupadasTitulo)
                {
                    @if (mostrarEditInterface && note.Id == notaSelecionada.Id)
                    {
                        <div class="note-on-edit" @onclick="SalvarEdicao"></div>
                        <div class="note-card on-edit">
                            <h2 class="card-title on-edit" contenteditable="true" @onblur="() => AtualizarTitulo()">
                                @notaSelecionada.Title
                            </h2>
                            <div class="card-content">
                                <p class="on-edit" contenteditable="true" @onblur="() => AtualizarConteudo()">
                                    @notaSelecionada.Content
                                </p>
                            </div>
                            
                            <div class="text-edit-options">
                                <button class="navbar-toggler" type="button">
                                    <span class="bi bi-type-bold icon-bootstrap small"></span>
                                </button>
                                <button class="navbar-toggler" type="button">
                                    <span class="bi bi-type-italic icon-bootstrap small"></span>
                                </button>
                                <button class="navbar-toggler" type="button">
                                    <span class="bi bi-type-strikethrough icon-bootstrap small"></span>
                                </button>
                                <button class="navbar-toggler" type="button">
                                    <span class="bi bi-list-ul icon-bootstrap small"></span>
                                </button>
                                <button class="navbar-toggler" type="button">
                                    <span class="bi bi-list-ol icon-bootstrap small"></span>
                                </button>
                                <button class="navbar-toggler" type="button">
                                    <span class="bi bi-check-square icon-bootstrap small"></span>
                                </button>
                            </div>

                            <div class="edit-note-options">
                                <div class="cancel-edit">
                                    <p @onclick="EsconderInterfaceDeEdicao">Cancelar</p>
                                </div>

                                <div class="confirm-edit">
                                    <button disabled="@(string.IsNullOrEmpty(notaSelecionada.Content))"  @onclick="SalvarEdicao">OK</button>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="note-card">
                            <div class="note-tools-box">
                                <div class="note-tools">
                                    <button @onclick="() => MostrarInterfaceDeEdicao(note)" class="navbar-toggler" type="button">
                                        <span class="bi bi-pencil icon-bootstrap small"></span>
                                    </button>
                                    <button class="navbar-toggler" type="button">
                                        <span class="bi bi-check2-circle icon-bootstrap small"></span>
                                    </button>
                                    <button @onclick="() => ExcluirNota(note.Id)" class="navbar-toggler" type="button">
                                        <span class="bi bi-trash3 icon-bootstrap small"></span>
                                    </button>
                                    <button class="navbar-toggler" type="button">
                                        <span class="bi bi-three-dots-vertical icon-bootstrap small"></span>
                                    </button>
                                </div>
                            </div>

                            <div class="card-note-content" @onclick="() => MostrarInterfaceDeEdicao(note)">
                                <h2 class="card-title">
                                    <span>@note.Title</span>
                                </h2>
                                <div class="card-content">
                                    <p>
                                        @note.Content
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>
</section>

@if (mostrarAddInterface)
{
    <div class="note-on-edit"></div>

    <div class="add-note-container">
        <div class="add-note-card">
            <h2 class="note-title" contenteditable="true" @onblur="() => AtualizarTituloNovaNota()">
            </h2>

            <div class="note-content">
                <p class="note-content content" contenteditable="true" @onblur="() => AtualizarConteudoNovaNota()">
                    
                </p>
            </div>

            <div class="text-edit-options">
                <button class="navbar-toggler" type="button">
                    <span class="bi bi-type-bold icon-bootstrap small"></span>
                </button>
                <button class="navbar-toggler" type="button">
                    <span class="bi bi-type-italic icon-bootstrap small"></span>
                </button>
                <button class="navbar-toggler" type="button">
                    <span class="bi bi-type-strikethrough icon-bootstrap small"></span>
                </button>
                <button class="navbar-toggler" type="button">
                    <span class="bi bi-list-ul icon-bootstrap small"></span>
                </button>
                <button class="navbar-toggler" type="button">
                    <span class="bi bi-list-ol icon-bootstrap small"></span>
                </button>
                <button class="navbar-toggler" type="button">
                    <span class="bi bi-check-square icon-bootstrap small"></span>
                </button>
            </div>

            <div class=""> @* Adicionar funcionalidade de Task *@
                <span class="bi bi-check2-circle"></span>
                <label>Adicionar Task</label>
            </div>

            <div class="edit-note-options">
                <div class="cancel-edit" @onclick="EsconderInterfaceAdicionar">
                    <p>Cancelar</p>
                </div>

                <div class="confirm-edit">
                    <button disabled="@(string.IsNullOrEmpty(novaNotaConteudo))" @onclick="AdicionarNota">OK</button>
                </div>
            </div>
        </div>
    </div>
}

<div id="create-select-buttons">
    <button class="navbar-toggler" type="button">
        <span class="bi bi-check-square icon-bootstrap-select"></span>
    </button>

    <button class="navbar-toggler" type="button" @onclick="MostrarInterfaceAdicionar">
        <span class="bi bi-plus-square icon-bootstrap-add"></span>
    </button>
</div>



@* <input @bind="novoWorkspaceTitulo" placeholder="Título da nota..." />
<button @onclick="AdicionarWorkspace" type="button" class="btn btn-primary">Adicionar Workspace</button>
 *@

@code {
    [Parameter]
    public int WorkpaceIdPage { get; set; }

    private string novaNotaTitulo;
    private string novaNotaConteudo;
    private string novoWorkspaceTitulo;

    private string tipoDeAgrupamento;

    private bool mostrarEditInterface = false;
    private bool mostrarTaskInterface = false;
    private bool mostrarAddInterface = false;

    private Note notaSelecionada = null;

    private List<IGrouping<DateTime, Note>> notasAgrupadasData = new();
    private List<Note> notasAgrupadasTitulo = new();

    private List<Note> notas = new List<Note>();
    private List<Workspace> workspaces = new List<Workspace>();

    protected override async Task OnInitializedAsync()
    {
        await AtualizarNotasAsync();
        await AtualizarWorkspacesAsync();
        AppData.OnChange += AppDataAlterado;
    }

    protected override async Task OnParametersSetAsync()
    {
        await AtualizarNotasAsync();
        await AtualizarWorkspacesAsync();
    }

    #region Notas CRUD
    private async void AppDataAlterado()
    {
        await AtualizarNotasAsync();
        StateHasChanged();
    }

    private async Task AdicionarNota()
    {
        await EsconderInterfaceAdicionar();

        var note = new Note { 
            Title = novaNotaTitulo, 
            Content = novaNotaConteudo, 
            WorkspaceId = WorkpaceIdPage,

           @*Task = new TaskNote {
                DeadLine = deadLineTask             Quando for adicionar as notas lembrar de colocar a data
            }*@
        };

        await NoteService.AddNoteAsync(note);
        await AtualizarNotasAsync();
        novaNotaTitulo = string.Empty;
        novaNotaConteudo = string.Empty;
    }

    private async Task ExcluirNota(int id)
    {
        await NoteService.DeleteNoteAsync(id);
        await AtualizarNotasAsync();
    }

    private async Task AtualizarNotasAsync()
    {
        notas = await NoteService.GetAllNotesAsync();
        await AgruparNotas();
    }

    private async Task AgruparNotas()
    {
        tipoDeAgrupamento = await NoteService.GetLocalStorageItem("orderType");
        Console.WriteLine("Tipo de agrupamento local:" + tipoDeAgrupamento);

        if (tipoDeAgrupamento == "data")
        {
            notasAgrupadasData = notas.Where(note => note.WorkspaceId == WorkpaceIdPage)
                                      .OrderByDescending(note => note.CreateDateDateTime())
                                      .GroupBy(note => note.CreateDateDateTime().Date)
                                      .ToList();
        }
        else
        {
            notasAgrupadasTitulo = notas.Where(note => note.WorkspaceId == WorkpaceIdPage)
                                        .OrderBy(note => note.Title).ToList();
        }

    }

    private async Task MostrarInterfaceAdicionar()
    {
        mostrarAddInterface = true;
    }

    private async Task EsconderInterfaceAdicionar()
    {
        mostrarAddInterface = false;
    }

    private async Task AtualizarTituloNovaNota()
    {
        var element = await NoteService.GetElement(".note-title");
        novaNotaTitulo = element;
    }

    private async Task AtualizarConteudoNovaNota()
    {
        var element = await NoteService.GetElement(".note-content.content");
        novaNotaConteudo = element;
    }
    #endregion

    #region Edição
    private async Task SalvarEdicao()
    {
        await NoteService.UpdateNoteAsync(notaSelecionada);
        
        await AtualizarNotasAsync();
        await EsconderInterfaceDeEdicao();
    }

    private void MostrarInterfaceDeEdicao(Note note)
    {
        notaSelecionada = note;
        mostrarEditInterface = true;
    }

    private async Task EsconderInterfaceDeEdicao()
    {
        mostrarEditInterface = false;
        notaSelecionada = null;

        await AtualizarNotasAsync();
    }

    private void MostrarInterfaceTask(Note note)
    {
        notaSelecionada = note;
        mostrarTaskInterface = true;
    }

    private async Task EsconderInterfaceTask()
    {
        mostrarTaskInterface = false;
        notaSelecionada = null;

        await AtualizarNotasAsync();
    }

    private async Task AtualizarTitulo()
    {
        var element = await NoteService.GetElement(".card-title.on-edit");
        notaSelecionada.Title = element;
    }

    private async Task AtualizarConteudo()
    {
        var element = await NoteService.GetElement(".card-content .on-edit");
        notaSelecionada.Content = element;
    }
    #endregion

    #region Workspace
    private async Task AtualizarWorkspacesAsync()
    {
        workspaces = await NoteService.GetAllWorkspaces();
    }

    private async Task AdicionarWorkspace()
    {
        var workspace = new Workspace { Name = novoWorkspaceTitulo };
        await NoteService.AddWorkspace(workspace);
        workspaces = await NoteService.GetAllWorkspaces();
        novoWorkspaceTitulo = string.Empty;
    }
    #endregion

    public void Dispose()
    {
        AppData.OnChange -= AppDataAlterado;
    }
}